<dt>
  <a href="https://www.youtube.com/watch?v=<%= video.id %>" target="_blank"><img src="<%= video.thumbnailUrl %>" class="float-left"><%= video.title %></a>
</dt>
<dd class="clearfix">
  <%- video.description %>
</dd>